@{
    ViewData["Title"] = "ConfirmaApagar";
}

<div class="text-center">
    <h1 class="display-4">Tem certeza da exclusão?</h1>
</div>

<div class="text-center">
    <a class="btn btn-success" role="button" asp-controller="Cadastro" asp-action="Apagar">Sim</a>
    <a class="btn btn-warning" role="button" asp-controller="Cadastro" asp-action="index">Não/Voltar</a>

</div>