@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Gerenciamento de cadastro de Veículos</p>
</div>

<div class="text-center">
    <a role="button" class="btn btn-success" asp-controller="Cadastro" asp-action="Cadastrar">Cadastrar um Veículo</a>
    <a role="button" class="btn btn-success" asp-controller="Cadastro" asp-action="Combustivel">Cadastrar Tipo de Combutível</a>
    <a role="button" class="btn btn-success" asp-controller="Cadastro" asp-action="Cor">Cadastrar cor</a>

</div>
